# Copyright 2024 StreamNative
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

## deployed withh emptyDir
volumes:
  persistence: false

# disabled AntiAffinity
affinity:
  anti_affinity: false

# disable auto recovery
components:
  functions: true
  autorecovery: false
  pulsar_manager: false
  proxy: false
  toolset: false

## disable monitoring stack
victoria-metrics-k8s-stack:
  enabled: false

images:
  zookeeper:
    repository: apachepulsar/pulsar-all
    tag: 4.1.2
  bookie:
    repository: apachepulsar/pulsar-all
    tag: 4.1.2
  broker:
    repository: apachepulsar/pulsar-all
    tag: 4.1.2
  functions:
    repository: apachepulsar/pulsar-all
    tag: 4.1.2

zookeeper:
  replicaCount: 1
  podMonitor:
    enabled: false
  resources:
    requests:
      memory: 256Mi
      cpu: 10m

bookkeeper:
  replicaCount: 1
  podMonitor:
    enabled: false
  resources:
    requests:
      memory: 256Mi
      cpu: 10m
  configData:
    PULSAR_PREFIX_autoRecoveryDaemonEnabled: "false"
    PULSAR_PREFIX_dlog.bkcEnsembleSize: "1"
    PULSAR_PREFIX_dlog.bkcWriteQuorumSize: "1"
    PULSAR_PREFIX_dlog.bkcAckQuorumSize: "1"
    # `BOOKIE_MEM` is used for `bookie shell`
    BOOKIE_MEM: >
      -Xms128m
      -Xmx256m
      -XX:MaxDirectMemorySize=256m
    # we use `bin/pulsar` for starting bookie daemons
    PULSAR_MEM: >
      -Xms128m
      -Xmx256m
      -XX:MaxDirectMemorySize=256m
    PULSAR_GC: >
      -XX:+UseG1GC
      -XX:MaxGCPauseMillis=10
      -XX:+ParallelRefProcEnabled
      -XX:+UnlockExperimentalVMOptions
      -XX:+DoEscapeAnalysis
      -XX:ParallelGCThreads=4
      -XX:ConcGCThreads=4
      -XX:G1NewSizePercent=50
      -XX:+DisableExplicitGC
      -XX:-ResizePLAB
      -XX:+ExitOnOutOfMemoryError
      -XX:+PerfDisableSharedMem

pulsar_metadata:
  image:
    repository: apachepulsar/pulsar-all
    tag: 4.1.2

broker:
  replicaCount: 1
  podMonitor:
    enabled: false
  configData:
    ## Enable `autoSkipNonRecoverableData` since bookkeeper is running
    ## without persistence
    autoSkipNonRecoverableData: "true"
    # storage settings
    managedLedgerDefaultEnsembleSize: "1"
    managedLedgerDefaultWriteQuorum: "1"
    managedLedgerDefaultAckQuorum: "1"
    PULSAR_PREFIX_enablePackagesManagement: "true"
    PULSAR_PREFIX_packagesManagementStorageProvider: org.apache.pulsar.packages.management.storage.bookkeeper.BookKeeperPackagesStorageProvider
    PULSAR_PREFIX_packagesReplicas: "1"
    PULSAR_PREFIX_packagesManagementLedgerRootPath: /ledgers
    PULSAR_PREFIX_functionsWorkerEnablePackageManagement: "true"
    PULSAR_PREFIX_topicLevelPoliciesEnabled: "true"
  resources:
    requests:
      memory: 256Mi
      cpu: 10m

autorecovery:
  podMonitor:
    enabled: false

proxy:
  podMonitor:
    enabled: false

